html{
	height: 100%;
	body{
		// min-height: 100vh;
		display: block;
		position: relative;
		.center{}

		>div{
		    background-repeat: repeat-x !important;
		}
		>section{
			position: relative;
		}
		// @media screen and (max-width: @siteWidht) {
		// 	>*{
		// 		width: 100%;
		// 	}
		// }
	}
}
button{
	outline: none;
	-webkit-transition: all 80ms ease-in-out;
	   -moz-transition: all 80ms ease-in-out;
	    -ms-transition: all 80ms ease-in-out;
	     -o-transition: all 80ms ease-in-out;
	        transition: all 80ms ease-in-out;
	&:hover{
	 -webkit-transform: scale(1.02);
	    -moz-transform: scale(1.02);
	     -ms-transform: scale(1.02);
	      -o-transform: scale(1.02);
	         transform: scale(1.02);
	}
}

// transition: all 0.5s;
// -moz-transition: all 0.5s;
// -ms-transition: all 0.5s;
// -o-transition: all 0.5s;
// -webkit-transition: all 0.5s;

// transform: translateY(-50% );
// -moz-transform: translateY(-50% );
// -webkit-transform: translateY(-50% );
// -o-transform: translateY(-50% );
// -ms-transform: translateY(-50% );

// ::-webkit-input-placeholder{
// }
// ::-moz-placeholder{
// }
// :-o-placeholder{
// }
// :-ms-input-placeholder{
// }
// @media (max-width: 1199px) {
	
// }